@charset "utf-8";
/* CSS Document */
@import url("fonts/fonts.css");

*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root
{
	font-size: calc(10px + 1vw)
}

a
{
	text-decoration: none;;
}

:lang(fa)
{
  direction: rtl;
}

:lang(en)
{
  direction: ltr;
}



.container
{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	padding: 0 0;
	box-shadow: 0 0 3px 1px #ccc;
}



.banner-productlist
{
	width: 100%;
	height: auto;
	border-radius: 0.4rem;
}


/*Container Products*/
.container-product
{
	width: 100%;
	margin: 5px auto;
	background: #fff;
	padding: 10px;
	
}

.header-products
{
	text-align: center;
	width: 100%;
	height: 20px;
	margin-bottom: 0px;
	background: #fff;
}
.header-products p
{
	font-family: iransans-light;
	color: #fff;
	font-size: 1.2vw;
}


.grid-container
{
	width: 100%;
	display:grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-around;
	background: #fff;
	
}

.card .image-product
{
	max-width: 80%;
	width: 80%;
	height: auto;
	padding: 10px;
	margin: 0 auto;
	border-radius: .3em;
}

.card
{
	display: flex;
	width: 98%;
	margin: 5px auto;
	background: #fff;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 3px 0px #ccc;
	padding-bottom: 8px;
	border-radius: .3em;
}

.text-body
{
	width: 100%;
	padding: 5px 10px;
}

.card .name-titr
{
	width: 100%;
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	line-height: 1.2;
	text-align: center;
	margin-bottom: 8px;
	padding: 8px 2px;
	border-radius: .3em;	
}

.card .name-titr a
{
	font-family: iransans-bold;
	color: #fff;
	font-size: .65rem;
	
}

.text-body p
{
	padding: 8px 4px;
	font-family: iransans-light;
	color: #a5a5a9;
	font-size: .65rem;
	border-bottom: 1px solid #CCCCCC;
}

.text-body p i
{
	color: #084D68;
	
	margin-left: 5px;
	
}

.text-body p span
{
	color: #000;
	font-family: iransans-medium;
}


.btns
{
	width: 100%;
	height: auto;
	padding: 12px 0;
	display: flex;
	border-radius: .3em;
	justify-content: space-around;
}

.btns a
{
	cursor: pointer;
	font-size: 1rem;
	transition: .5s;
}

.btns a:hover
{
	transform: scale(1.3);
	transition: .5s;
}

.btns a:nth-child(1)
{
	color: #005F99;
}

.btns a:nth-child(2)
{
	color: #F6416C;
}
.btns a:nth-child(3)
{
	color: #00B8A9;
}

.btn-detail
{
	cursor: pointer;
	width: 70%;
	text-align: center;
	padding: .6em .5em;
	margin: 4px auto;
	font-family: shabnam-bold;
	font-size: .65rem;
 	transition: .2s;
	border-radius: .3em;
	color: #5B5B5B;
	background-color: #EBEBEB;
	
}
.btn-detail:hover
{
	background-color: #C9E5FF;
	color: #004EAC;
	border:none;
	
}

/*Max Width 1000px*/
@media screen and (max-width: 1000px)
{
	.container
	{
		width: 90%;
	}
}



@media screen and (max-width: 768px)
{
	.container
	{
		width: 100%;
	}
	
}



@media screen and (max-width: 630px)
{
	.container
	{
		width: 100%;
	}
	
	.grid-container
	{
		width: 100%;
		grid-template-columns: auto auto auto;
		
	}

}


@media screen and (max-width: 460px)
{
	.container
	{
		width: 100%;
	}
	
		.grid-container
	{
		grid-template-columns: auto auto;
		
	}	
}



@media screen and (max-width: 320px)
{
		.grid-container
	{
		width: 100%;
		grid-template-columns: auto;
		
	}
}







