@charset "utf-8";
/* CSS Document */

@import url("fonts/fonts.css");
		
		*
		{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}
		
		body
		{
			direction: rtl;
		}
		
		.container
		{
			width: 100%;
			height: auto;
			margin: 0 auto;
			padding: 20px;
		}
		
		.container img
		{
			width: 100%;
			height: auto;
			margin: 0 auto;
		}
		
		.container button
		{
			cursor: pointer;
			border-radius: .3em;
			font-size: calc(.3em + 1vw);
			display: block;
			padding: 8px 16px;
			font-family: iransans;
			border: none;
			background: #D7EDFF;
			color: #0062B3;
			margin: 0 auto;
		}
		
	

@media screen and(max-width: 600px)
{
	.container
	{
		width: 100%;
	}
}



