@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("../fonts/fonts.css");

*
{
  padding: 0;
  margin: 0;
}

a
{
  text-decoration: none;
  color: #000;
}

:lang(fa)
{
  direction: rtl;

}

:lang(en)
{
  direction: ltr;
  text-align: left;
}

:root
{
	font-size: calc(1em + 1vw) ;
}

body
{
	background: #ececec;
}

.container
{
  width: 1100px;
	margin: 0 auto;
  height: auto;
	padding-bottom: 20px;
	background: #fff;
}

.container img
{
	width: 100%;
	height: auto;
}


.grid-container
{
	display: grid;
	grid-template-columns: auto;
	margin: 0 auto;
	
}


.datatable
{
	font-family: iransans-light;
	text-align: center;
	width: 100%;
	
}

.datatable td , .datatable th
{
	
	border-bottom: 0px solid #888;
	font-size: .5rem;
	border-radius: .3em;
	font-family: iransans-bold;
	padding: 4px 8px;
}

table.datatable tr
{
	line-height: 1.6;
}

table.datatable tr:nth-child(even)
{
  background: #FFC2C6;
}
table.datatable tr:nth-child(odd)
{
  background: #FFE4E6;
}

tr #number-user
{
  width: 5%;
}

tr td a
{
	display: inline-block;
	background: #ff4f5a;
	border-radius: .3em;
	color: #fff;
	outline: none;
	width: 25%;
	padding: 8px 16px;
	transition: .3s;
}
tr td a:hover
{
	background: #B0373F;
	color: #fff;
}
.image_tumbnail
{
  max-width: 50px;
	border-radius: .4em;
	vertical-align: middle;
}

.container .back
{
	text-align: center;
	width: 25%;
	background: #eee1ff;
	border-radius: .3EM;
	margin: 10px auto;
	font-family: iransans-bold;
	padding: 8px 8px;
	font-size: .6rem;
}





@media(max-width: 1120px)
{
	.container
	{
		width: 90%;
	}
}

@media(max-width: 700px)
{
	.container
	{
		width: 100%;
	}
	
}


@media(max-width: 700px)
{
	.container
	{
		width: 100%;
	}
	
	tr td a
	{
		display: block;
		margin: 4px auto;
		width: 50%;
	}
}













